header
    left: 0px
    right: 0px
    top: 0px
    height: $header
    
    .header__content
        display: flex

    .header__link
        margin: 0px 10px
        
        &:hover
            text-decoration: underline
