@import './styles/reset/index.styl';
@import './styles/App.styl';
@import 'styles/components/Header.styl';
@import 'styles/components/Footer.styl';
@import 'styles/views/Home.styl';
@import 'styles/views/Page1.styl';