body
    font-family: Georgia, 'Times New Roman', Times, serif
    font-size: 20px
    line-height: 20px
    box-sizing: border-box
    color: #303038

#app
    display: block
    position: relative
    height: "calc(100vh - %s)" % $header

#content
    height: 100%

.jumbotron
    width: 100%
    height: calc(100vh/2)
    background-color: red